In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [2]:
df = pd.read_csv("C:\\Users\\Sandro\\Desktop\\Corso Generation\\mysql-python\\Librerie\\res\\movies.csv")

In [3]:
df.head(20)

,MovieID,Title,Genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children's
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Animation|Children's
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (not_def),Drama|Thriller
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Thriller
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action

In [4]:
df.isna()

      MovieID  Title  Genres
0       False  False   False
1       False  False   False
2       False  False   False
3       False  False   False
4       False  False   False
...       ...    ...     ...
3878    False  False   False
3879    False  False   False
3880    False  False   False
3881    False  False   False
3882    False  False   False

[3883 rows x 3 columns]

In [5]:
df["year"] = df["Title"].str.extract(r"\((\d{4})\)\s*$")

In [6]:
df["Title"] = df["Title"].str.replace(r"\s*\(\d{4}\)\s*$", "", regex=True).str.strip()

In [7]:
df.head(20)

,MovieID,Title,Genres,year
0,1,Toy Story,Animation|Children's|Comedy,1995
1,2,Jumanji,Adventure|Children's|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama,1995
4,5,Father of the Bride Part II,Comedy,1995
5,6,Heat,Action|Crime|Thriller,1995
6,7,Sabrina,Comedy|Romance,1995
7,8,Tom and Huck,Adventure|Children's,1995
8,9,Sudden Death,Action,1995
9,10,GoldenEye,Action|Adventure|Thriller,1995
10,11,"American President, The",Comedy|Drama|Romance,1995
11,12,Dracula: Dead and Loving It,Comedy|Horror,1995
12,13,Balto,Animation|Children's,1995
13,14,Nixon,Drama,1995
14,15,Cutthroat Island,Action|Adventure|Romance,1995
15,16,Casino (not_def),Drama|Thriller,NaN
16,17,Sense and Sensibility,Drama|Romance,1995
17,18,Four Rooms,Thriller,1995
18,19,Ace Ventura: When Nature Calls,Comedy,1995
19,20,Money Train,Action,1995

In [8]:
df.loc[15, "Title"] = df.loc[15, "Title"].replace("(not_def)", "")

In [9]:
df.loc[15, "year"] = df.loc[15, "year"] if pd.notna(df.loc[15, "year"]) else 1995

In [10]:
df.loc[15]

MovieID                16
Title             Casino
Genres     Drama|Thriller
year                 1995
Name: 15, dtype: object

In [11]:
df["Title"].value_counts()[df["Title"].value_counts() > 1]

Title
Hamlet                                        5
Mummy, The                                    3
Kronos                                        2
Miracle on 34th Street                        2
Scarlet Letter, The                           2
101 Dalmatians                                2
Othello                                       2
Ballad of Narayama, The (Narayama Bushiko)    2
That Darn Cat!                                2
Wonderland                                    2
Jungle Book, The                              2
Village of the Damned                         2
My Man Godfrey                                2
Psycho                                        2
Misérables, Les                               2
Cape Fear                                     2
Parent Trap, The                              2
True Crime                                    2
Nutty Professor, The                          2
Titanic                                       2
Loser                                         2
Lolita                                        2
Man Who Knew Too Much, The                    2
Godzilla (Gojira)                             2
King Kong                                     2
General, The                                  2
Mighty Joe Young                              2
Fly, The                                      2
Haunting, The                                 2
King and I, The                               2
Doctor Dolittle                               2
Dracula                                       2
Thomas Crown Affair, The                      2
End of the Affair, The                        2
Kid, The                                      2
Shaft                                         2
Get Carter                                    2
Sabrina                                       2
Name: count, dtype: int64

In [12]:
def correggi_segmento(testo):
    if ', ' in testo:
        before, after = testo.rsplit(', ', 1)
        return f"{after} {before}"
    return testo
def correggi_titolo(titolo):
    if pd.isna(titolo):
        return titolo
    titolo = titolo.strip('"')  # Rimuove virgolette manuali
    # Se contiene una parte tra parentesi
    match = re.match(r'^(.*?)(\s*\(.*\))$', titolo)
    if match:
        parte1 = match.group(1)
        parte2 = match.group(2)
        nuova_parte1 = correggi_segmento(parte1)
        contenuto = parte2[1:-1].strip()
        contenuto = contenuto.replace("(", "").replace(")", "")
        nuova_parte2 = correggi_segmento(contenuto)
        return f'{nuova_parte1} ({nuova_parte2})'
    else:
        nuova_parte1 = correggi_segmento(titolo)
        return nuova_parte1
# Applica la funzione
df['Title'] = df['Title'].apply(correggi_titolo)
# Salva il CSV correttamente (senza virgolette doppie)
df.to_csv("movies_corretto.csv", index=False, quoting=0)

In [13]:
def capitalizza_generi(generi):
    if pd.isna(generi):
        return generi
    return '|'.join(g.strip().capitalize() for g in generi.split('|'))
df['Genres'] = df['Genres'].apply(capitalizza_generi)
df.to_csv("movies_corretto.csv", index=False, quoting=0)

In [14]:
df.isnull().sum()

MovieID    0
Title      0
Genres     0
year       0
dtype: int64

In [15]:
df.tail(20)

,MovieID,Title,Genres,year
3863,3933,The Killer Shrews,Horror|Sci-fi,1959
3864,3934,Kronos,Sci-fi,1957
3865,3935,Kronos,Horror,1973
3866,3936,,Drama|Thriller,1943
3867,3937,Runaway,Sci-fi|Thriller,1984
3868,3938,The Slumber Party Massacre,Horror,1982
3869,3939,The Slumber Party Massacre II,Horror,1987
3870,3940,The Slumber Party Massacre III,Horror,1990
3871,3941,Sorority House Massacre,Horror,1986
3872,3942,Sorority House Massacre II,Horror,1990
3873,3943,Bamboozled,Comedy,2000
3874,3944,Bootmen,Comedy|Drama,2000
3875,3945,Digimon: The Movie,Adventure|Animation|Children's,2000
3876,3946,Get Carter,Action|Drama|Thriller,2000
3877,3947,Get Carter,Thriller,1971
3878,3948,Meet the Parents,Comedy,2000
3879,3949,Requiem for a Dream,Drama,2000
3880,3950,Tigerland,Drama,2000
3881,3951,Two Family House,Drama,2000
3882,3952,The Contender,Drama|Thriller,2000

In [16]:
df.loc[3866,"Title"]= df.loc[3866,"Title"].replace("","The Phantom of the Opera") 
df.to_csv("movies_corretto.csv", index=False, quoting=0)

In [17]:
df[df["Genres"].str.contains('Dramma', case=False, na=False)]

      MovieID        Title  Genres  year
604       608        Fargo  Dramma  1996
3248     3317  Wonder Boys  Dramma  2000

In [18]:
df["Genres"] = df["Genres"].replace('Dramma', 'Drama')
df.to_csv("movies_corretto.csv", index=False, quoting=0)

In [24]:
df = pd.read_csv("users_edit.csv")
df["CAP"] = df["CAP"].astype(str)
df.to_csv("users_edit.csv", index=False, quoting=0)

In [25]:
df["CAP"]

0       20023
1       72022
2       36100
3       85024
4        1010
        ...
6035    12032
6036     9099
6037    19020
6038     1010
6039      153
Name: CAP, Length: 6040, dtype: object